version: 2
updates:

  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"

  # Maintain dependencies in Gradle module
  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "monthly"
